.carusel-item{
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
}
.carusel-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 85px;
    /* or 131% */

    text-align: center;
}
