.carusel-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 65px;
    /* or 131% */

    text-align: center;
}
.carusel-text-p{
    text-align: center;
    line-height: 25px;
}

.box-h5{
    color: #289BDE;
}
.box-h5-text{
    color: #FFFFFF;
}
